{% extends "base.html" %}
{% load static %}
{% block title %}Личные данные клиента{% endblock %}
{% block content %}
<div class="row">
<div class="col-lg-2">
	<a href="{% url "person_card" clnt.pk %}"
	 class="btn btn-info btn-block" role="button">
	    Назад
	</a>
</div>
{% if not request.user.is_reception %}
<div class="col-lg-2">
	<button type="submit" form="editpers"
	 class="btn btn-success btn-block" role="button">
	    Сохранить
	</a>
</div>
{% endif %}
</div>
<form id="editpers" class="form-horizontal" action="" method="post" 
 enctype="multipart/form-data">
    {% csrf_token %}
<!-- Form Name -->
<legend>
	{{ clnt.last_name|title }} {{ clnt.first_name|title }} 
	{{ clnt.patronymic|title }}
</legend>
<div class="col-lg-6">
	<div class="form-group">
		<div class='col-sm-4'>
		  <label for="id_last_name">Фамилия</label>
		</div>
		<div class='col-sm-8'>
		    <input id="id_last_name" type="text" name="last_name" class="form-control input-lg"
		       value ="{{ clnt.last_name|title|default_if_none:"" }}" required/>
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-4'>
		  <label for="id_first_name">Имя</label>
		</div>
		<div class='col-sm-8'>
		    <input id="id_first_name" type="text" name="first_name" class="form-control input-lg"
		      value ="{{ clnt.first_name|title|default_if_none:"" }}" required/>
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-4'>
		  <label for="id_patronymic">Отчество</label>
		</div>
		<div class='col-sm-8'>
		    <input id="id_patronymic" type="text" name="patronymic" class="form-control input-lg"
		      value ="{{ clnt.patronymic|title|default_if_none:"" }}" required/>
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-4'>
		  <label for="id_born_date">Дата рождения</label>
		</div>
		<div class='col-sm-8'>
		     <div class='input-group date' id='born_cal' data-date-format="DD.MM.YYYY">
	            <input id="id_born_date" type="text" name="born_date" class="form-control input-lg" />
	            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
	            </span>
	        </div>
		</div>	
	</div>
</div><!-- finish first column -->

<div class="col-lg-6"><!-- start second column-->
  <div class="form-group">
		<div class='col-sm-4'>
		  <label for="id_address">Адрес</label>
		</div>
		<div class='col-sm-8'>
			<div class="control-group">
		    	<div class="controls">
				    <input id="id_address" type="text" name="address" class="form-control input-lg"
				    data-validation-minlength-message="Не менее 8 символов" minlength="8"
				      value ="{{ clnt.address|default:"" }}"/>
				</div>
			</div>
		</div>
  </div>
  <div class="form-group">
	<div class='col-sm-4'>
	  <label for="id_phone">Телефон</label>
	</div>
	<div class='col-sm-8'>
	<div class="control-group">
	    	<div class="controls">
			    <input id="id_phone" type="text" name="phone" class="form-control input-lg" 
			       data-validation-regex-regex="^79[0-9]{9}$|^812[0-9]{7}$" 
			       data-validation-regex-message="мобильный 79... городской 812..."
			      value ="{{ clnt.phone|default_if_none:"" }}" required/>
	      </div>
	      </div>
	</div>
  </div>
  <div class="form-group">
	<div class='col-sm-4'>
	  <label for="id_email">E-mail</label>
	</div>
	<div class='col-sm-8'>
		<div class="control-group">
	    	<div class="controls">
			    <input id="id_email" type="email" name="email" class="form-control input-lg"
			    data-validation-email-message="неверный адрес эл. почты"
			      value ="{{ clnt.email|default_if_none:"" }}"/>
			</div>
		</div>
	</div>
  </div>
  <div class="form-group">
	<div class='col-sm-4'>
	  <label for="id_passport">Паспорт</label>
	</div>
	<div class='col-sm-8'>
		<div class="control-group">
	    	<div class="controls">
			    <input id="id_passport" type="text" name="passport" class="form-control input-lg"
			    	data-validation-minlength-message="Не менее 8 символов" minlength="8"
			      value ="{{ clnt.passport|default:"" }}"/>
		    </div>
		</div>
	</div>
  </div>
  <div class="form-group">
	<div class='col-sm-4'>
	  <label for="id_born_date">Пол</label>
	</div>
	<div class='col-sm-8'>
	     	<label for="on" >М</label>
			<input type="radio" name="gender" id="on" value="0" 
					{% if clnt.gender != 1 %} checked {% endif %}>
		    <label for="off" >Ж</label>
			<input type="radio" name="gender" id="off" value="1"
					{% if clnt.gender == 1 %} checked {% endif %}>
	</div>
  </div>
</div><!-- finish first column -->
 </form>
{% endblock %}
{% block extrafoot %}
<script src="{% static "ReactiveRaven/jqBootstrapValidation.js" %}">
</script>

<script type="text/javascript">
$(document).ready(function(){

  $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();

    $('#born_cal').datetimepicker({
        // language: 'ru',
        pickTime: false,
        minDate: '01/01/1930',
        maxDate: '01/01/2009',
        defaultDate: '{{ clnt.born_date|date:"m/d/Y"|default:"01/01/2009" }}'
    });

	$(".glyphicon-remove-circle").on( "click", function() {
		$(this).parent().hide();
	});

});
</script>
{% endblock %}