{% extends "base.html" %}
{% load static %}
{% load extra_filtrs %}
{% block title %}Блок персональных тренировок{% endblock %}
{% block content %}
{{ res }}
    {% if block_visit %}
    	<div class="alert alert-warning" id="block_visit">
	    	Нет действующего договора
	    	<span class="glyphicon glyphicon-remove-circle"></span>
    	</div>
    {% endif %}
    {% if contract_days_left %}
    	<div class="alert alert-success" id="contarct_days_left">
	    	До окончания договора осталось {{ contract_days_left }} дней
	    	<span class="glyphicon glyphicon-remove-circle"></span>
    	</div>
    {% endif %}
    {% if contract_visits_left %}
    	<div class="alert alert-success" id="contarct_days_left">
	    	До окончания договора осталось {{ contract_visits_left }} посещений
	    	<span class="glyphicon glyphicon-remove-circle"></span>
    	</div>
    {% endif %}
<form id="newpers" class="form-horizontal" action=""
 method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ cform }}
<!-- Form Name -->
<legend>Блок персональных тренировок для {{ c.get_full_name }}</legend>
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_ptt">Вид блока ПТТ</label>
		</div>
		<div class='col-sm-4'>
			<div class="control-group">
			   <div class="controls">
					<select id="id_goods" name="goods" class="selectpicker"
					 data-width="100%" required>
					  	<option value="0" id="" title=""></option>
					   {% for ptt in ptts %}
					  	<option value="{{ ptt.pk }}" id="{{ ptt.price|replace:"/,/." }}"
					  	{% if ptt.is_discount %}titl="1"{% endif %}
					  	>
					  		{{ ptt }}
					  	</option>
		      		   {% endfor %}
					</select>
				</div>
			</div>
		</div>
		<div class='col-sm-2'>
		  <label for="id_card">Номер карты</label>
		</div>
		<div class='col-sm-4'>
			<div class="control-group">
		    	<div class="controls">
				    <input id="id_card" type="text" name="card" 
				     class="form-control input-lg" readonly 
				     value ="{{ card |default_if_none:"0" }}"/>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_employee">Тренер</label>
		</div>
		<div class='col-sm-4'>
			<div class="control-group">
			   <div class="controls">
					<select id="id_employee" name="employee"
					class="selectpicker" data-width="100%">
					  	<option value="0" ></option>
					</select>
				</div>
			</div>
		</div>
		<div class='col-sm-2'>
		  <label for="id_card">Стоимость</label>
		</div>
		<div class='col-sm-4'>
		    <input id="id_price" type="number" name="price"
		    value="0" 
		    class="form-control input-lg" readonly />
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_manager">Менеджер</label>
		</div>
		<div class='col-sm-4'>
		    <input id="id_manager" type="text" name="manager" 
		     class="form-control input-lg"
		     value ="{{ c.manager.get_full_name}}" disabled />
		</div>
		<div class='col-sm-2'>
		  <label for="id_payment_type">Вид оплаты</label>
		</div>
		<div class='col-sm-4'>
		     	<label for="cash" >Наличный</label>
				<input type="radio" name="payment_type" id="cash" value="0" checked>
			    <label for="cashless" >Безналичный</label>
				<input type="radio" name="payment_type" id="cashless" value="1">
			    <label for="cashless" >Иное</label>
				<input type="radio" name="payment_type" id="cashless" value="2">
		</div>
	</div>

	<div class="form-group">
		<div class='col-sm-2'>
		  <label>Рассрочка</label>
		</div>
		<div class='col-sm-2'>
		    <input type="checkbox" name="pay_plan">
		</div>
		<div class='col-sm-4 pay-plan'>
		  <label class="label-remaining text-danger">Остаток: <span class="remaining"></span></label>
		</div>
		<div class='col-sm-2'>
		   <button type="button" class="hide btn btn-primary btn-xs pay-plan
		   add-pay">
		   		добавить
		   </button>
		</div>
		<div class='col-sm-2'>
		    <button type="button" class="hide btn btn-warning btn-xs pay-plan rm-pay">
		    	убрать
		    </button>
		</div>
	</div>

	<div class="hide form-group pay-plan">
		<table>
			<tbody class="tbody-pay-plan">

			</tbody>
		</table>
	</div>

    <a href="{% url "p_active" 0 %}" class="btn btn-info" role="button">
        Назад
    </a>
    <button class="btn btn-success btn-submit" type="submit">
        Сохранить
    </button>
</form>
<!-- template for new pay plan line -->
<table class="hide">
<tr class="new-pay-plan tr-pay-plan">
	<td width="150px">
		<input type="number" min="0" class="form-control input-lg pp-price" value="0" name="pp-price">
	</td>
	<td width="150">
		<label class="date pull-right"></label>
	</td>
</tr>	
</table>
<!-- end template -->

{% endblock %}
{% block extrafoot %}
<script type="text/javascript" src="{% static "bootstrap-select/bootstrap-select.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap-select/i18n/defaults-ru-RU1.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-select/bootstrap-select.css" %}">
<script type="text/javascript">
$(document).ready(function(){
	$('#newpers select[name=goods]').change(function() {
		if ($('#id_goods option:selected').attr("titl")){
			$('#id_card').val('{{ card }}' + "A")
		} else {
			$('#id_card').val('{{ card }}')
		}
		$('#id_price').val($('#id_goods option:selected').attr("id"))

		$.ajax({
		    url: encodeURI("{% url 'ptt_trainer' %}"),
		    data:({id: $(this).val()}),
		    dataType: "json",
		    success: function (data) {
		      var to = '<option value="0" >Ничего не выбрано</option>'
		      $.each(data, function(k, v) {
		        to += '<option value="' + k +'">'
		                    + v + '</option>'
		      });
		      $('#id_employee').empty().append(to)
		      $('.selectpicker').selectpicker('refresh');
		    }
		  })

	});

	$(".glyphicon-remove-circle").on( "click", function() {
		$(this).parent().hide();
	});

  	$('.selectpicker').selectpicker();

// pay plan actions
	// hide-show
	$('[name="pay_plan"]').click(function(){
		if ($('[name="pay_plan"]').is(':checked')){
			$('.pay-plan').removeClass('hide')
		} else {
     		$('.pay-plan').addClass('hide');
     		$('.tbody-pay-plan tr').not('.hide').remove();
		}
		$.fn.remainingAmount()
	});

	// add new line
	$('.add-pay').click(function(){
		cnt = $('.tbody-pay-plan tr').length
		var stepdate = new Date();
		stepdate.setDate((new Date).getDate() + cnt*30);
		var dd = stepdate.getDate();
		var mm = stepdate.getMonth();
		if(dd<10){dd='0'+dd}
		if(mm<10){mm='0'+mm}
		var Y = stepdate.getFullYear();

		var pay_plan_line = $('.new-pay-plan')
			                  .clone()
			                  .removeClass('hide')
			                  .removeClass('new-pay-plan')
			pay_plan_line.find('.date').html(dd + '.' + mm + '.' + Y)
		$('.tbody-pay-plan').append(pay_plan_line);
		$.fn.remainingAmount();
	});

	// remove last line
	$('.rm-pay').click(function(){
		$('.tbody-pay-plan tr').last().remove();
		$.fn.remainingAmount();
	});

	$(document).on('change', '.pp-price', function(){
		$.fn.remainingAmount()
	});

	// the remaining amount
	$.fn.remainingAmount = function() {
	    var summ = 0
	    $('.pp-price').each(function(){
	      summ += parseFloat(this.value);
	    });
	    var remaining = $('[name="price"]').val() - summ
	    $('.remaining').html(remaining)
	    if (remaining == 0 ){
	    	$('.label-remaining').addClass('text-success')
	    					     .removeClass('text-danger')
	    	$('.btn-submit').prop('disabled', false)
	    } else {
	    	$('.label-remaining').removeClass('text-success')
	    					     .addClass('text-danger')
	    	$('.btn-submit').prop('disabled', true)
	    }
	}
});
</script>

{% endblock %}
              