{% extends "base.html" %}
{% load static %}
{% block title %}Новый клиент{% endblock %}
{% block content %}
{{ res }}
<form id="newpers" class="form-horizontal" action="{% url "person.views.person_add" %}" method="post"
enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}     {{ cform.errors }}
<!-- Form Name -->
<legend>Новый клиент</legend>
	<div class="form-group ">
		<div class='col-sm-2'>
		  <label for="id_last_name">Фамилия</label>
		  <span class="glyphicon glyphicon-flash"></span>
		</div>
		<div class='col-sm-4'>
		    <input id="id_last_name" type="text" name="last_name" class="form-control input-lg "
		       value ="{{ form.last_name.value|default_if_none:"" }}" required/>
		</div>
		<div class='col-sm-2'>
		  <label for="id_number">номер договора</label>
		  <span class="glyphicon glyphicon-flash"></span>
		</div>
		<div class='col-sm-4'>
			<div class="control-group">
		    	<div class="controls">
		    		<input id="id_number" type="hidden" name="number"  
				     value ="{{ cnumber|default_if_none:"" }}" required/>
				    <input id="id_number_show" type="number" name="number_show" class="form-control input-lg" 
				     value ="{{ cnumber|default_if_none:"" }}" required />
	
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_first_name">Имя</label>
		  <span class="glyphicon glyphicon-flash"></span>
		</div>
		<div class='col-sm-4'>
		    <input id="id_first_name" type="text" name="first_name" class="form-control input-lg"
		      value ="{{ form.first_name.value|default_if_none:"" }}" required/>
		</div>
		<div class='col-sm-2'>
		  <label for="id_contract_date">Дата регистрации</label>
		</div>
		<div class='col-sm-4'>
				     <div class='input-group date' id='contract_date' data-date-format="DD.MM.YYYY">
	            <input id="id_contract_date" type="text" name="contract_date" class="form-control input-lg" disabled />
	            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
	            </span></div>
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_patronymic">Отчество</label>
		  <span class="glyphicon glyphicon-flash"></span>
		</div>
		<div class='col-sm-4'>
		    <input id="id_patronymic" type="text" name="patronymic" class="form-control input-lg"
		      value ="{{ form.patronymic.value|default_if_none:"" }}" required/>
		</div>
		<div class='col-sm-2'>
		  <label for="id_card">Номер карты</label>
		</div>
		<div class='col-sm-4'>
			<div class="control-group">
		    	<div class="controls">
				    <input id="id_card" type="number" name="card" class="form-control input-lg"
				     data-validation-number-message="Числовое поле"
				     value ="{{ contract.card |default_if_none:"0" }}"/>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_born_date">Пол</label>
		</div>
		<div class='col-sm-4'>
		     	<label for="on" >М</label>
				<input type="radio" name="gender" id="on" value="0" 
						{% if form.gender.value != '1' %} checked {% endif%}>
			    <label for="off" >Ж</label>
				<input type="radio" name="gender" id="off" value="1"
						{% if form.gender.value == '1' %} checked {% endif%}>
		</div>
		<div class='col-sm-2'>
		  <label for="id_contract_type">Вид договора</label>
		  <span class="glyphicon glyphicon-flash"></span>
		</div>
		<div class='col-sm-4'>
			<div class="control-group">
			   <div class="controls">
					<select id="id_contract_type" name="contract_type" class="selectpicker"
					 data-width="100%" required>
					  	<option value="0" id="" titl=""></option>
					   {% for t in ctypes %}
					  	<option value="{{ t.pk }}" id="{{ t.price }}" 
					  	 titl="
					  	 	{% if t.is_child %}
					  	 		is_child
					  	 	{% else %}
					  	 		is_self
					  	 	{% endif %}
					  	 	"
					  	>
					  		{{ t.name }}
					  	</option>
		      		   {% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_born_date">Дата рождения</label>
		</div>
		<div class='col-sm-4'>
		     <div class='input-group date' id='born_cal' data-date-format="DD.MM.YYYY">
	            <input id="id_born_date" type="text" name="born_date" 
	            class="form-control input-lg" />
	            <span class="input-group-addon">
	            	<span class="glyphicon glyphicon-calendar"></span>
	            </span>
	        </div>
		</div>
		<div class='col-sm-2'>
		  <label for="id_card">Стоимость</label>
		</div>
		<div class='col-sm-4'>
		    <input id="id_price" type="number" name="price" 
		    class="form-control input-lg" disabled />
		</div>
	</div>
<!-- Child data -->
<div class="form-group has-success" >
	<div class='col-sm-12'>
		<label class="control-label" for="id_child">Данные ребенка</label>
		  <div id="child_age" class="alert alert-warning" style="display:none;">
		       Полный возраст старше 14 лет
		       <span class="glyphicon glyphicon-remove-circle"></span>
		   </div>
	</div>
	<div class='col-sm-2'>
		  <label class="control-label" for="id_child_last_name">Фамилия</label>
		  <span class="glyphicon glyphicon-flash"></span>
	</div>
	<div class='col-sm-4'>
	    <input id="id_child_last_name" type="text" name="child_last_name" 
	     class="form-control input-lg "
	     value ="{{ child_form.last_name.value|default_if_none:"" }}" />
	</div>

	<div class='col-sm-2'>
		  <label class="control-label" for="id_child_first_name">Имя</label>
		  <span class="glyphicon glyphicon-flash"></span>
	</div>
	<div class='col-sm-4'>
	    <input id="id_child_first_name" type="text" name="child_first_name" 
	     class="form-control input-lg "
	     value ="{{ child_form.first_name.value|default_if_none:"" }}" />
	</div>
</div>
<div class="form-group has-success" >
		<div class='col-sm-2'>
		  <label class="control-label" for="id_child_patronymic">Отчество</label>
		  <span class="glyphicon glyphicon-flash"></span>
		</div>
		<div class='col-sm-4'>
		    <input id="id_child_patronymic" type="text" name="child_patronymic"
		      class="form-control input-lg"
		      value ="{{ child_form.patronymic.value|default_if_none:"" }}" />
		</div>
		<div class='col-sm-2'>
		<label class="control-label" for="id_child_born_date">Дата рождения</label>
	</div>
	<div class='col-sm-4'>
	     <div class='input-group date' id='child_born_cal' data-date-format="DD.MM.YYYY">
            <input id="id_child_born_date" type="text" name="child_born_date" 
            class="form-control input-lg" />
	            <span class="input-group-addon">
	            	<span class="glyphicon glyphicon-calendar"></span>
	            </span>
        </div>
	</div>
</div>
<!-- End Child data -->
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_avatar">Фото</label>
		</div>
		<div class='col-sm-4'>
			{% include 'camera.html' %}
		</div>
		<div class='col-sm-2'>
		  <label for="id_discount">Скидка</label>
		</div>
		<div class='col-sm-4'>
			<div class="control-group">
			   <div class="controls">
					<select id="id_discount" name="discount" class="selectpicker"
					 data-width="100%">
					  	<option value="0" id="0"></option>
					   {% for d in discounts %}
					  	<option value="{{ d.pk }}" id="{{ d.value }}" 
					  		{% if d == contract.discount %} "selected" {% endif %}>
					  		{{ d.value }}
					  	</option>
		      		   {% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_address">Адрес</label>
		</div>
		<div class='col-sm-4'>
			<div class="control-group">
		    	<div class="controls">
				    <input id="id_address" type="text" name="address" class="form-control input-lg"
				    data-validation-minlength-message="Не менее 8 символов" minlength="8"
				      value ="{{ form.address.value|default_if_none:"" }}"/>
				</div>
			</div>
		</div>
		<div class='col-sm-2'>
		  <label for="id_amount">Стоимость со скидкой</label>
		</div>
		<div class='col-sm-4'>
		    <input id="id_amount" type="hidden" name="amount" />
		    <input id="id_amount_show" type="number" name="amount_show" class="form-control input-lg" disabled />
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_phone">Телефон</label>
		  <span class="glyphicon glyphicon-flash"></span>
		</div>
		<div class='col-sm-4'>
		<div class="control-group">
		    	<div class="controls">
				    <input id="id_phone" type="text" name="phone" class="form-control input-lg" 
				       data-validation-regex-regex="^79[0-9]{9}$|^812[0-9]{7}$" 
				       data-validation-regex-message="мобильный 79... городской 812..."
				      value ="{{ form.phone.value|default_if_none:"" }}" required/>
		      </div>
		      </div>
		</div>
		<div class='col-sm-2'>
		  <label for="id_payment_type">Вид оплаты</label>
		</div>
		<div class='col-sm-4'>
		     	<label for="cash" >Наличный</label>
				<input type="radio" name="payment_type" id="cash" value="0" checked>
			    <label for="cashless" >Безналичный</label>
				<input type="radio" name="payment_type" id="cashless" value="1">
			    <label for="cashless" >Иное</label>
				<input type="radio" name="payment_type" id="cashless" value="2">
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_email">E-mail</label>
		</div>
		<div class='col-sm-4'>
			<div class="control-group">
		    	<div class="controls">
				    <input id="id_email" type="email" name="email" class="form-control input-lg"
				    data-validation-email-message="неверный адрес эл. почты"
				      value ="{{ form.email.value|default_if_none:"" }}"/>
				</div>
			</div>
		</div>
		<div class='col-sm-2'>
		 	<label for="id_open_date">Открытая дата</label>
		</div>
		<div class='col-sm-4'>
			<input type="checkbox" id="id_open_date" name="is_open_date">
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_passport">Паспорт</label>
		</div>
		<div class='col-sm-4'>
			<div class="control-group">
		    	<div class="controls">
				    <input id="id_passport" type="text" name="passport" class="form-control input-lg"
				    	data-validation-minlength-message="Не менее 8 символов" minlength="8"
				      value ="{{ form.passport.value|default_if_none:"" }}"/>
			    </div>
			</div>
		</div>
		<div class='col-sm-2'>
		  <label for="id_pay_plan">Схема рассрочки</label><br/><br/>
		</div>
		<div class='col-sm-4'>
			<div class="control-group">
			   <div class="controls">
			   <center>
				   <h4>
					   <span id="label_custom" style="display:none"
					    class="label label-info">
					   	Индивидуальная
					   </span>
				   </h4>
			   </center>
					<select id="id_pay_plan" name="pay_plan" class="selectpicker"
					 data-width="100%">
					  	<option value="0" id="pp100"></option>
					   {% for pp in payplan %}
					  	<option value="{{ pp.pk }}" id="pp{{ pp.amount|floatformat }}" 
					  	{% if pp.amount != 100 %} disabled="disabled" {% endif %}>
					  		{{ pp.name }}
					  	</option>
		      		   {% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class='col-sm-2'>
		  <label for="id_manager">Менеджер</label>
		</div>
		<div class='col-sm-4'>
		    <input id="id_manager" type="text" name="manager" class="form-control input-lg"
		      value ="{{ manager|default_if_none:"" }}" disabled />
		</div>
		<div class='col-sm-2'>
		 	<label for="id_custom">Индивидуальная</label>
		</div>
		<div class='col-sm-4'>
			<input type="checkbox" id="id_custom" name="custom">
		</div>

		<div class='col-sm-6'>
		<div class="alert alert-danger" style="display:none" id="custom_pp_err">
			Сумма к оплате не совпадает с рассрочкой
		</div>
			<table class="table table-hover" id="tbl" name="custom_pp" style="display:none">
			<thead>
			<tr>
				<th></th>
				<th>
			    <a href="#custom_pp" class="btn btn-primary btn-xs" role="button" id="anc_add">
			        Добавить
			    </a>
			    </th><th>
			    <a href="#custom_pp" class="btn btn-warning btn-xs" role="button" id="anc_rem">
			            Убрать
			    </a>
			    </th>
			 </tr>
			<tr class="info">
			    <th style="width:5px">#</th>
			    <th style="width:50px">Дата</th>
			    <th >Сумма</th>
			</tr>
			</thead>
			<tbody>
			<tr >
			    <td>
			        <strong>1</strong>
			    </td>
			    <td>
			        <strong>{% now "d.m.Y" %}</strong>
			    </td>
			    <td>
			    <div class="control-group">
			    <div class="controls">
			        <input id="E1" name="price1" data-validation-number-message="Числовое поле" type="number" min="0" class="form-control input-lg pp_price" value="0" required/>
			    </div>
			    </div>
			    </td>

			<tr >
			    <td>
			        <strong>2</strong>
			    </td>
			    <td>
			        <strong id="secondstep"></strong>
			    </td>
			    <td>
			    <div class="control-group">
			    <div class="controls">
			        <input id="E2" name="price2" data-validation-number-message="Числовое поле" type="number" 
			        min="0" class="form-control input-lg pp_price" value="0" required/>
			    </div>
			    </div>
			    </td>
			    <td>
			</td>
			</tr>
			    <tfoot>
			        <tr>
			        <td><label for="id_pp_amount">Итого</label></td>
			        <td></td>
			        <td>
				        <input id="id_pp_amount"  data-formula="SUM($E1,$E2)"
				        type="text" name="pp_amount" min="0" class="form-control input-lg"/>
			    </td>
			        </tr>
			    </tfoot>
			</tbody>
			</table>
			</div>
	</div>

    <a href="{% url "person.views.person_menu" %}" class="btn btn-info" role="button">
        Назад
    </a>
    <button class="btn btn-success" type="submit">
        Сохранить
    </button>
</form>

{% endblock %}
{% block extrafoot %}

<!-- custom pay plan -->
<script type="text/javascript" src="{% static "jquery-calx/jquery-calx-1.1.9.min.js" %}"></script>
<script>
 $(document).ready(function(){
 var cnt = 2;
 $('#tbl').calx();
   	  var stepdate = new Date();
	  stepdate.setDate((new Date).getDate() + cnt*30);
	  var dd = stepdate.getDate();
	  var mm = stepdate.getMonth();
	  if(dd<10){dd='0'+dd}
	  if(mm<10){mm='0'+mm}
	  var Y = stepdate.getFullYear();
	$('#secondstep').text(dd + '.' + mm + '.' + Y);

 $("#anc_add").click(function(){
  cnt++;
  var $calx = $('#tbl');
  var stepdate = new Date();
  stepdate.setDate((new Date).getDate() + cnt*30);
  var dd = stepdate.getDate();
  var mm = stepdate.getMonth();
  if(dd<10){dd='0'+dd}
  if(mm<10){mm='0'+mm}
  var Y = stepdate.getFullYear();


  $calx.append('<tr >\
        <td><strong><input type="hidden" value="'+cnt+'" name="id'+cnt+'">'+cnt+'</strong></td>\
        <td><strong>'+ dd + '.' + mm + '.' + Y + '</strong></td>\
        <td><div class="control-group">\
        <div class="controls">\
        <input id="E'+cnt+'" name="price'+cnt+'" data-validation-number-message="Числовое поле" type="number" min="0" class="form-control input-lg pp_price" value="0" required/>\
        </div></div>\
        </td>\
        </tr>');
    
    //update total formula 
    $('#id_pp_amount').attr('data-formula','SUM($E1,$E'+cnt+')');
    $calx.calx('refresh');

 });

	$("#anc_rem").click(function(){
	    if( cnt > 2 ) {
	        $('#tbl tbody tr').last().remove();
	        cnt--;
	        //update total formula SUM($id_price1,$id_price1)
	        $('#id_pp_amount').attr('data-formula','SUM($E1,$E'+cnt+')');
	        $('#tbl').calx('refresh');
	    }
	 });

	});
 </script>

<script type="text/javascript">
$(function () {
    $('#born_cal').datetimepicker({
        // language: 'ru',
        pickTime: false,
        minDate: '01/01/1930',
        maxDate: '01/01/2009',
        defaultDate: '{{ form.born_date.value|date:"m/d/Y"|default:"01/01/2009" }}'
    });
    $('#contract_date').datetimepicker({
        // language: 'ru',
        pickTime: false,
        minDate: '04/01/2014',
        defaultDate: '{% now "m/d/Y" %}'
    });
    $('#child_born_cal').datetimepicker({
        // language: 'ru',
        pickTime: false,
        minDate: '01/01/2000',
        maxDate: '01/01/2009',
        defaultDate: '{{ form.born_date.value|date:"m/d/Y"|default:"01/01/2009" }}'
    });
    $("#child_born_cal").on("dp.change",function (e) {
           $('#child_age').child_age();
        });
});

(function( $ ){
   $.fn.child_age = function() {
	  var rawDate = $('#id_child_born_date').val().split('.');
	  var birthDate = new Date(rawDate[2], rawDate[1]-1, rawDate[0]);
      var today = new Date();
	  var age = today.getFullYear() - birthDate.getFullYear();
	  var m = today.getMonth() - birthDate.getMonth();
	  if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
	        age--;
	    }
      if ( age > 13 ){
       		$('#child_age').show();
      } else {
       		$('#child_age').hide();
      }
      return this;
   }; 
})( jQuery );
</script>
<script type="text/javascript" src="{% static "bootstrap-select/bootstrap-select.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap-select/i18n/defaults-ru-RU1.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-select/bootstrap-select.css" %}">

<script type="text/javascript">
$(document).ready(function(){
	$('#newpers select[name=contract_type]').change(function() {
		$('#id_price').val($('#id_contract_type option:selected').attr("id"))
		$('#id_amount').val($('#id_price').val()*(1-$("#id_discount option:selected").attr("id")/100))
		$('#id_amount_show').val($('#id_price').val()*(1-$("#id_discount option:selected").attr("id")/100))
		ctype = $('#id_contract_type option:selected').attr("titl").trim()
		if (  ctype === "is_child") {
			$('.has-success').show()
		} else {
			$('.has-success').hide()
		};

		// enable agreement pay plans
	  	$('#id_pay_plan').find("[id!=pp100]").prop('disabled',"disabled");
		$('#id_pay_plan').find("[id=pp"+ $('#id_amount').val() +"]").prop('disabled',"");
	  	$('#id_pay_plan').selectpicker('refresh');
	  	// chek plan if need
		if ($("#id_custom").prop("checked")){
		  			$('.pp_price').change();
		  		}
	});
	$("#id_discount").change(function() {
		$('#id_amount').val($('#id_price').val()*(1-$("#id_discount option:selected").attr("id")/100));
		$('#id_amount_show').val($('#id_price').val()*(1-$("#id_discount option:selected").attr("id")/100));
		// enable agreement pay plans
	  	$('#id_pay_plan').find("[id!=pp100]").prop('disabled',"disabled");
	  	if ($('#id_discount').val() == 0){
			$('#id_pay_plan').find("[id=pp"+ $('#id_amount').val() +"]").prop('disabled',"");
		} else {
	  		$('#id_pay_plan').find("[id=0]").prop('disabled',"");
	  		$('#id_pay_plan').selectpicker('val', '0');
	  		$('#id_pay_plan').selectpicker('render');
	  	}
  		$('#id_pay_plan').selectpicker('refresh');

		if ($("#id_custom").prop("checked")){
  			$('.pp_price').change();
  		}

	});
	$('#id_number_show').change(function(){
		$('#id_number').val($('#id_number_show').val());
	});
	$(document).on('change', '.pp_price',function(){
		if ($('#id_pp_amount').val() !== $('#id_amount').val()){
			$('#custom_pp_err').show();
		} else {
			$('#custom_pp_err').hide();
		}
	})
	$(".glyphicon-remove-circle").on( "click", function() {
		$(this).parent().hide();
	});
});
</script>

<script>
$("#id_custom").on( "click", function() {
	if ($("#id_custom").prop("checked")){
		$('#id_pay_plan').selectpicker('hide');
		$('#label_custom').show();
		$('#tbl').show();
		$('.pp_price').change();
	} else {
		$('#id_pay_plan').selectpicker('show');
		$('#label_custom').hide();
		$('#tbl').hide();
		$('#custom_pp_err').hide();
	}
});
</script>

<script>
  $(function () { 
  	$('.selectpicker').selectpicker();
  	$('#id_contract_type').selectpicker('val', '{{ contract.contract_type.pk|default:"0" }}');
  	$('#id_pay_plan').selectpicker('val', '{{ contract.pay_plan.pk|default:"0" }}');
  	$('#id_discount').selectpicker('val', '{{ contract.discount.pk|default:"0" }}');
  });
</script>


<script src="{% static "ReactiveRaven/jqBootstrapValidation.js" %}">
</script>
<script>
  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
	});
</script>

<script language="JavaScript" src="{% static "ScriptCam/swfobject.js" %}"></script>
<script language="JavaScript" src="{% static "ScriptCam/scriptcam.js" %}"></script>
<script language="JavaScript"> 
	$(document).ready(function() {
		$("#webcam").scriptcam({
			showMicrophoneErrors:false,
			onError:onError,
			cornerRadius:20,
			cornerColor:'e3e5e2',
			onWebcamReady:onWebcamReady,
			uploadImage:'{% static "img/upload.gif" %}',
			onPictureAsBase64:base64_tofield_and_image
		});
	});
	function cameraclick() {
		if ( $('#photodiv').attr('class') === 'hide') {
			$('#photodiv').show();
			$('#photodiv').attr('class','show');
		} else {
			$('#photodiv').hide();
			$('#photodiv').attr('class','hide');
		}
	}
	function base64_tofield() {
		$('#formfield').val($.scriptcam.getFrameAsBase64());
		$('#image').attr("src","data:image/png;base64,"+$.scriptcam.getFrameAsBase64());
	};

	function base64_tofield_and_image(b64) {
		$('#formfield').val(b64);
		$('#image').attr("src","data:image/png;base64,"+b64);
	};
	function changeCamera() {
		$.scriptcam.changeCamera($('#cameraNames').val());
	}
	function onError(errorId,errorMsg) {
		$( "#btn1" ).attr( "disabled", true );
		$( "#btn2" ).attr( "disabled", true );
		alert(errorMsg);
	}			
	function onWebcamReady(cameraNames,camera,microphoneNames,microphone,volume) {
		$.each(cameraNames, function(index, text) {
			$('#cameraNames').append( $('<option></option>').val(index).html(text) )
		}); 
		$('#cameraNames').val(camera);
	}
</script> 
{% endblock %}