{% extends "base.html" %}
{% load static %}
{% block title %}Текст договора{% endblock %}

{% block extrahead %}

{% endblock %}
{% block content %}
<form id="contractext" class="form-horizontal" action="{% url "contract.views.contract_text" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
<!-- Form Name -->
<legend>Текст договора</legend>
<div class="form-group">
    <div class='col-sm-2'>
      <label for="id_name">первая страница</label>
    </div>
    <div class='col-sm-3'>
        <input id="id_firstpage" name="firstpage" title="Обзор" type="file" data-filename-placement="inside" data-validation="mime" data-validation-allowing="jpg, png, gif"/>
    </div>
</div>
<div class="form-group">
    <div class='col-sm-2'>
      <label for="id_name">вторая страница</label>
    </div>
    <div class='col-sm-3'>
        <input id="id_secondpage" name="secondpage" title="Обзор" type="file" data-filename-placement="inside" data-validation="mime" data-validation-allowing="jpg, png, gif"/>
    </div>
</div>

    <a href="{% url "contract.views.contract_menu" %}" class="btn btn-info" role="button">
        Назад
    </a>
    <button class="btn btn-success" type="submit">
        Добавить
    </button>
</form>
{% endblock %}
{% block extrafoot %}
 <script src="{% static "bootstrap.file-input/bootstrap.file-input.js" %}"></script>
<script type="text/javascript">
$(function () {
    $('input[type=file]').bootstrapFileInput();
    $('.file-inputs').bootstrapFileInput();
});
</script>
<script src="{% static "form-validator/jquery.form-validator.min.js" %}"></script>
<script>
  var myLanguage = {
    wrongFileType : 'Не верный тип файла'
    };
 $.validate({
  modules : 'file',
  language : myLanguage
}); </script>
{% endblock %}