{% extends "base.html" %}
{% load static %}
{% load extra_filtrs %}
{% block title %}Изменение вида договора{% endblock %}
{% block extrahead %}

{% endblock %}
{% block menu %}
{{ res }}
{% endblock %}
{% block content %}
<form id="period" class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form.errors }}
<!-- Form Name -->
<legend>Свойства договорa</legend>
<div class="form-group">
	<div class='col-sm-3'>
	  <label for="id_name">Название</label>
	</div>
	<div class='col-sm-3'>
	<div class="control-group">
	    <div class="controls">
	    	<input id="id_name" type="text" name="name" class="form-control input-lg"
	    	 value="{{ ct.name }}" required/>
		</div>
	</div>
	</div>

	<div class='col-sm-3'>
	  <label for="id_name">Время посещения</label>
	</div>
	<div class='col-sm-3'>
	<div class="control-group">
	    <div class="controls">
			<select id="id_period_time_type" 
			name="period_time_type" required class="selectpicker">
			  	<option value="0"></option>
			   {% for t in ptypes %}
			  	<option value="{{ t.pk }}">{{ t.name }}</option>
      		   {% endfor %}
			</select>
		</div>
	</div>
	</div>
</div>
<div class="form-group">
	<div class='col-sm-3'>
	  <label for="id_name">Срок действия(дней)</label>
	</div>
	<div class='col-sm-3'>
	<div class="control-group">
	    <div class="controls">
	    	<input name="period_days" id="id_period_days" data-validation-number-message="Числовое поле" type="number" min="0" class="form-control input-lg" 
	    	value="{{ ct.period_days }}" required/>
		</div>
	</div>
	</div>

	<div class='col-sm-3'>
	  <label for="on" >Безлимитное посещений</label>
	  <input type="radio" name="group1" id="on" value="1">
	</div>
</div>
<div class="form-group">
	<div class='col-sm-3'>
	  <label for="id_price">Цена(руб.)</label>
	</div>
	<div class='col-sm-3'>
	<div class="control-group">
	    <div class="controls">
	    	<input id="id_price" name="price" data-validation-number-message="Числовое поле" type="number" step="0.01"
	    	min="0" class="form-control input-lg" 
	    	value="{{ ct.price|replace:"/,/." }}" required/>
		</div>
	</div>
	</div>

	<div class='col-sm-3'>
	  <label for="off" >Ограниченно посещений</label>
	  <input type="radio" name="group1" id="off" value="0">
	</div>
	<div class='col-sm-3'>
	<div class="control-group">
	    <div class="controls">
	    	<input id="id_max_visit" name="max_visit" 
	    	data-validation-number-message="Числовое поле" 
	    	type="number" min="0" max="99999" class="form-control input-lg"
	    	{% if ct.max_visit != 99999 %}
	    		value="{{ ct.max_visit }}"
	    	{% endif %}/>
		</div>
	</div>
	</div>
</div>
<div class="form-group">
	<div class='col-sm-3'>
	  <label for="id_period_freeze">Лимит заморозки</label>
	</div>
	<div class='col-sm-3'>
	<div class="control-group">
	    <div class="controls">
	    	<input id="id_period_freeze" name="period_freeze" 
	    	data-validation-number-message="Числовое поле" 
	    	type="number" min="0" class="form-control input-lg" 
	    	value="{{ ct.period_freeze }}" required/>
		</div>
	</div>
	</div>
	<div class='col-sm-3'>
	  <label for="id_contract_date">Дата начала действия</label>
	</div>
	<div class='col-sm-3'>
			     <div class='input-group date' id='date_start' data-date-format="DD.MM.YYYY">
            <input id="date_start" type="text" name="date_start" class="form-control input-lg" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span></div>
	</div>
</div>
<div class="form-group">
	<div class='col-sm-3'>
	  <label for="id_name">Срок активации(дней)</label>
	</div>
	<div class='col-sm-3'>
	<div class="control-group">
	    <div class="controls">
	    	<input id="id_period_activation" name="period_activation"
	    	data-validation-number-message="Числовое поле"
	    	type="number" min="0" class="form-control input-lg" 
	    	value="{{ ct.period_activation }}" required/>
		</div>
	</div>
	</div>
	<div class='col-sm-3'>
		 	<label for="is_child">Детский</label>
	</div>
	<div class='col-sm-3'>
		<input type="checkbox" id="is_child" name="is_child"
		{% if ct.is_child %}
			checked
		{% endif %}
		>
	</div>
</div>

    <a href="{% url "ctype" %}" class="btn btn-info" role="button">
        Назад
    </a>
    <button class="btn btn-success" type="submit">
        Сохранить
    </button>
</form>
{% endblock %}
{% block extrafoot %}
<script src="{% static "ReactiveRaven/jqBootstrapValidation.js" %}">
</script>
<script>
  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); });
</script>
<script type="text/javascript" src="{% static "bootstrap-select/bootstrap-select.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap-select/i18n/defaults-ru-RU1.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-select/bootstrap-select.css" %}">

<script>
  $(document).ready(function(){
	$('.selectpicker').selectpicker();
  	$('#id_period_time_type').selectpicker('val', '{{ ct.period_time_type.pk|default:"0" }}');
});
</script>

<script type="text/javascript">
$(function () {
	$('#id_max_visit').prop("disabled", true);
	$("#on").click(function() { $("#id_max_visit").prop("disabled", true); });
	$("#off").click(function() { $("#id_max_visit").prop("disabled", false); });
	if ( {{ ct.max_visit }} == 99999 ){
		$("#on").click();
	} else {
		$("#off").click();
	}
});
</script>

<script type="text/javascript">
    $(function () {
        $('#date_start').datetimepicker({
            // language: 'ru',
            pickTime: false,
            minDate: '{% now "m/d/Y" %}',
            defaultDate: '{% now "m/d/Y" %}'
        });
    });
</script>
{% endblock %}