{% extends "base.html" %}
{% load static %}
{% load extra_filtrs %}
{% block title %}{{p_title}}{% endblock %}
{% block extrahead %}

{% endblock %}
{% block menu %}
{{ res }}
{% endblock %}
{% block content %}
<form id="period" class="form-horizontal" action="" method="post">
    {% csrf_token %} {{ form.errors }} {{ g_form.errors }}
	<legend>{{p_title}}
		<a href="{% url "issuance" %}" class="btn btn-info" role="button">
	        Назад
	    </a>
	    <button class="btn btn-success" type="submit">
	        Сохранить
	    </button>
	</legend>
<div class="form-group">
	<div class='col-sm-2'>
	  <label for="id_number">Номер </label>
	</div>
	<div class='col-sm-4'>
		<div class="control-group">
		    <div class="controls">
		    	<input id="id_number" type="text" name="number"
		    	{% if edit %}
		    		value="{{ issuance.number }}"
		    	{% else %}
		    		value="{{ number }}"
		    	{% endif %}
		    	class="form-control input-lg" disabled />
			</div>
		</div>
	</div>
	<div class="col-lg-2">
		<label for="id_date">Дата </label>
	</div>
	<div class="col-lg-4 control">
			<input type="text" name="date" class="form-control input-lg"
			id="date" disabled 
			{% if edit %} value="{{ issuance.date|date:"d.m.Y" }}"
			{% else %} value="{% now "d.m.Y" %}"
			{% endif %} />
	</div>
</div>
<div class="form-group">
	<div class='col-sm-2'>
	  <label for="id_market">Торговая точка</label>
	</div>
	<div class='col-sm-4'>
		<div class="control-group">
		   <div class="controls">
		   	{% if not edit %}
				<select id="id_market" name="market" class="selectpicker"
				 data-width="100%">
				  	<option ></option>
				   {% for p in p %}
				  	<option value="{{ p.pk }}">
				  		{{ p.name }}
				  	</option>
	      		   {% endfor %}
				</select>
			{% else %}
				<input id="id_market" type="text" name="market" disabled
				 class="form-control input-lg" value ="{{ issuance.market }}"/>
			{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="form-group">
	<div class='col-sm-2'>
	  <label for="id_manager">Принял</label>
	</div>
	<div class='col-sm-4'>
	    <input id="id_manager" type="text" 
	    name="manager" class="form-control input-lg" disabled
	    value ="{{ issuance.manager.get_full_name| default:request.user.get_full_name }}"/>
	</div>
	<div class='col-sm-2'>
	  <label for="id_mix_measure">Примечания</label>
	</div>
	<div class='col-sm-4'>
		<div class="control-group">
	    	<div class="controls">
			    <input id="id_note" type="text" name="inote" 
		    	value="{{ i.note|default:""}}" 
			    class="form-control input-lg"
			    data-validation-minlength-message="Не менее 2 символов" minlength="2"/>
			</div>
		</div>
	</div>
</div>
<div class="form-group">
	<strong>Список товаров </strong>
	<input type="hidden" id="id_goods_cnt" name="goods_cnt"
			{% if edit %}
				{% if igoods|length > 0 %}
				  value="{{ igoods|length }}">
				{% else %}
				  value="0">
				{% endif %}
			{% else %}
				value="0">
			{% endif %}
	<a href="#t_goods" class="btn btn-primary btn" role="button" id="goods_add">
		добавить<span class="glyphicon glyphicon-plus-sign"></span>
	</a>
	<table class="table" id="t_goods">
	  <thead>
		<tr>
			<th width="500px">Наименование</th>
			<th width="100px">Количество</th>
			<th width="210px">Примечание</th>
		</tr>
	  </thead>
	  <tbody>
	  {% if not edit %}
		<tr>
			<td>
				<div class="control-group">
					<select id="id_goods" name="goods0" class="selectpicker"
						data-width="100%">
						<option value="0"></option>
						{% for gselect in gselect %}
						{% if gselect.in_stock > 0 %}
					  	<option value="{{ gselect.pk }}" id="{{ gselect.pk }}" 
					  	max="{{ gselect.in_stock }}">
					  		{{ gselect }}
					  	</option>
						{% endif %}
					  	{% endfor %}
					</select>
				</div>
			</td>
			<td>
				<input type="number" class="form-control input" name="cnt0" id="id_cnt" 
					     value="{{ g.cnt }}">
			</td>
			<td>
				<input type="text" class="form-control input" name="note0"
					     value="{{ g.note }}">
			</td>
			<td valign="middle" align="center">
				<a href="#t_goods" class="btn btn-danger btn-xs" role="button" 
				     id="goods_rem">
				     <!-- удалить -->
		        	<span class="glyphicon glyphicon-minus-sign"></span>
				</a>
			</td>
		</tr>
	   {% else %}
	   {% for g, k in igoods.items %} 
	   <tr>
		<td>
			<div class="control-group">
				<select id="id_goods" name="goods{{forloop.counter0}}"
				 class="selectpicker" data-width="100%"
				 disabled>
					{% for gselect in gselect %}
					{% if gselect.in_stock > 0 or gselect.pk == g %}
						<option value="{{ gselect.pk }}" 
						id="{{ gselect.pk }}" 
						{% if gselect.pk == g %}
						selected max="{{ k|lookup:0 }}"
						{% endif %}>
								  		{{ gselect }} 
						</option>
					{% endif %}
				  	{% endfor %}
				</select>
			</div>
		</td>
			<td>
				<input type="number" class="form-control input" id="id_cnt"
				name="cnt{{forloop.counter0}}" value="{{ k|lookup:2 }}"
				max="{{ k|lookup:0 }}" min="{{ k|lookup:1 }}">
			</td>
			<td>
				<input type="text" class="form-control input" 
				value="{{ g.note }}" name="note{{forloop.counter0}}" >
			</td>
			<td valign="middle" align="center">
				<a href="#t_goods" class="btn btn-danger btn-xs"
				role="button" id="goods_rem">
				     <!-- удалить -->
		        	<span class="glyphicon glyphicon-minus-sign"></span>
				</a>
			</td>	   	
	   </tr>
	   {% endfor %}

	   {% endif %}
	  </tbody>
	</table>
</div>
</form>
{% endblock %}

{% block extrafoot %}
<script type="text/javascript" src="{% static "bootstrap-select/bootstrap-select.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap-select/i18n/defaults-ru-RU1.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-select/bootstrap-select.css" %}">

<script>
$(document).ready(function(){
	$('.selectpicker').selectpicker();
	var goods_cnt = $('#id_goods_cnt').val();
	var new_tr = '<tr>\
		<td>\
			<div class="control-group">\
				<select id="id_goods" name="goods" class="selectpicker"\
					data-width="100%" >\
				  	<option ></option>\
				</select>\
			</div>\
		</td>\
		<td>\
			<input type="number" class="form-control input" name="cnt" id="id_cnt">\
		</td>\
		<td>\
			<input type="text" class="form-control input" name="note">\
		</td>\
		<td valign="middle" align="center">\
			<a href="#t_goods" class="btn btn-danger btn-xs" role="button" \
			     id="goods_rem">\
	        	<span class="glyphicon glyphicon-minus-sign"></span>\
			</a>\
		</td>\
	</tr>'
	var options = []
	options[0] = "<option value='0'></option>"
	{% for g in gselect %}
	{% if g.in_stock > 0 %}
		options[{{ g.pk }}] = "<option value='{{g.pk}}'\
								 id='{{ g.pk }}' max='{{g.in_stock}}'\
								 >{{ g }}</option>"
	{% endif %}
	{% endfor %}

	$('#goods_add').click(function(){
		goods_cnt++;
		new_options = options.slice(0)
		$('#t_goods :selected').each(function(){
			delete new_options[$( this ).val()]
		});
		new_options[0] = "<option value='0'></option>"
		$('#id_goods_cnt').val(goods_cnt);
		$('#t_goods').append(new_tr);
		$("select[name='goods']").empty().append(options);
		$("select[name='goods']").attr( 'name', 'goods' + goods_cnt );
		$("input[name='cnt']").attr( 'name','cnt'  + goods_cnt );
		$("input[name='note']").attr( 'name','note'  + goods_cnt );
		$("select[name='goods"+ goods_cnt+"']").trigger("change");
		$('.selectpicker').selectpicker('refresh');
	})

    $( document ).on('change',"[name*='goods']", function(){
    	var defcnt = $("option:selected", this).attr("max")
    	$(this).parent().parent().parent().find('[type=number]').val(defcnt)
		$('#t_goods :selected').each(function(){
			var old = $(this).parent().data('old')
			$('option[id='+ old +']').attr("disabled",false)
			$('option[id='+$(this).val()+']').attr("disabled",true)
			$(this).parent().data('old',$(this).val());
		})
		$('.selectpicker').selectpicker('refresh');
	});

	$( document ).on( "click", '#goods_rem', function() {
		$(this).parent().parent().remove();
	});

	$( '#period' ).submit(function( event ) {
		$('#date', this).attr('disabled', false)
		$('#t_goods :selected').attr('disabled', false)
		$('.selectpicker').prop('disabled',false);
		$('.selectpicker').selectpicker('refresh');
	});

});
</script>

{% endblock %}