{% extends "base.html" %}
{% load static %}
{% load extra_filtrs %}
{% block title %}{{p_title}}{% endblock %}
{% block extrahead %}

{% endblock %}
{% block menu %}
{{ res }}
{% endblock %}
{% block content %}
<form id="period" class="form-horizontal" action="" method="post">
    {% csrf_token %} {{ form.errors }}
<!-- Form Name -->
<legend>{{p_title}}     
<a href="{{ b_url }}" class="btn btn-info" role="button">
        Назад
    </a>
    <button class="btn btn-success" type="submit">
        Сохранить
    </button></legend>
<div class="form-group">
	<div class='col-sm-2'>
	  <label for="id_name">Название</label>
	  <span class="glyphicon glyphicon-flash"></span>
	</div>
	<div class='col-sm-4'>
		<div class="control-group">
		    <div class="controls">
		    	<input id="id_name" type="text" name="name"
		    	value="{{ g.name|default:""|title}}" 
		    	class="form-control input-lg" required/>
			</div>
		</div>
	</div>
	<div class='col-sm-2'>
	  <label for="id_department">Отдел по кассе</label>
	</div>
	<div class='col-sm-4'>
		<div class="control-group">
		   <div class="controls">
				<select id="id_department" name="department" 
				 class="selectpicker" data-width="100%">
				  	<option ></option>
				   {% for d in departments %}
				  	<option value="{{ d }}">
				  		отдел {{ d }}
				  	</option>
	      		   {% endfor %}
				</select>
			</div>
		</div>
	</div>
</div>

<div class="form-group">	
	<div class='col-sm-2'>
	  <label for="id_price">Цена</label>
	</div>
	{% if not edit %}
	<div class='col-sm-4'>
		<div class="control-group">
	    	<div class="controls">
			    <input id="id_price" type="number" name="price" min="0"
			     step="0.01" class="form-control input-lg"/>
			</div>
		</div>
	</div>
	{% else %}
	<div class='col-sm-4'>
		<div class="control-group">
	    	<div class="controls">
			    <input id="id_price" type="number" name="price" min="0" 
			     class="form-control input-lg" step="0.01"
			     value="{{ g.price|replace:"/,/." }}" />
			</div>
		</div>
	</div>
	{% endif %}
	<div class='col-sm-3'>
	  <label for="id_contract_date">Дата начала действия</label>
	</div>
	<div class='col-sm-3'>
		<div class='input-group date' id='date_start' 
		data-date-format="DD.MM.YYYY">
	        <input id="date_start" type="text" name="date_start" 
	        class="form-control input-lg" />
	        <span class="input-group-addon">
	        	<i class="fa fa-calendar"></i>
	        </span>
        </div>
	</div>
	{% if edit %}
	<div class="col-lg-12">
		<a href="#pricehistory" data-toggle="collapse">История</a>
		<div id="pricehistory" class="collapse">
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Цена</th>
							<th>Дата начала</th>
							<th>Дата окончания</th>
						</tr>
					</thead>
					<tbody>
					{% for p in price %}
						<tr>
							<td>{{ p.value }}</td>
							<td>{{ p.date_start }}</td>
							<td>{{ p.date_end|date:"d.m.Y"|default:"" }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endif %}
</div>
<div class="form-group">
		<div class="col-lg-2">
			<label for="id_is_discount">Со скидкой</label>
		</div>
		<div class="col-lg-4 control">
			<input type="checkbox" id="id_is_discount" name="is_discount"
			{% if g.is_discount %}checked{% endif %} >
		</div>
		<div class="col-lg-2">
			<label for="id_1ptt">одиночная</label>
		</div>
		<div class="col-lg-4 control">
			<input type="checkbox" id="id_1ptt" name="1ptt"
			{% if g.goods_type.name == '1PTT' %}checked{% endif %} >
		</div>
</div>
<div class="form-group">
	<div class='col-lg-2'>
	  <label for="id_bar_code">Штрих код</label>
	</div>
	<div class='col-lg-4'>
		<div class="control-group">
	    	<div class="controls">
			    <input id="id_bar_code" type="number" min="0"
			     name="bar_code" class="form-control input-lg"
			     value="{{ bcode.code }}" />
			</div>
		</div>
	</div>
</div>
<div class="form-group">
	<div class='col-lg-2'>
	  <label for="id_positions">Должности</label>
	</div>
	<div class="col-lg-10 control">
			<select id="id_positions" name="positions" 
			class="selectpicker" multiple data-width="100%">
			   {% for p in positions %}
			  	<option value="{{ p.pk }}">
			  		{{ p }}
			  	</option>
      		   {% endfor %}
			</select>
	</div>
</div>
</form>
{% endblock %}

{% block extrafoot %}
<script src="{% static "ReactiveRaven/jqBootstrapValidation.js" %}">
</script>
<script>
  $(function () { 
  	$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
  });
</script>

<script type="text/javascript" src="{% static "bootstrap-select/bootstrap-select.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap-select/i18n/defaults-ru-RU1.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-select/bootstrap-select.css" %}">

<script>
  $(function () { 
  	$('.selectpicker').selectpicker();
  	if ({{ g.department|default:"0" }} !== 0) {
  		$('#id_department').selectpicker('val', '{{ g.department }}')
  	};
  	{% if edit %}
	  	$('#id_positions').selectpicker('val', {{ ptt_positions }});
	  	$('#id_positions').selectpicker('render');
  	{% endif %}
  });
</script>

<script type="text/javascript">
    $(function () {
        $('#date_start').datetimepicker({
            // language: 'ru',
            pickTime: false,
            minDate: '{% now "m/d/Y" %}',
 			{% if g.price_date %}
            	defaultDate: '{{ g.price_date|date:"m/d/Y" }}'
            {% else %}
            	defaultDate: '{% now "m/d/Y" %}'
			{% endif %}  
        });
    });
</script>
{% endblock %}