{% load static %}
<video id="video" width="320" height="240" autoplay></video>
<div id="snap" class="btn btn-info">фото</div>
<canvas id="canvas" width="320" height="240"></canvas>
<p>
    <textarea id="formfield" style="display:none;" name="avatar64"></textarea>
</p>
<script>

var video = document.getElementById('video');
// Get access to the camera!
if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    // Not adding `{ audio: true  }` since we only want video now
    navigator.mediaDevices.getUserMedia({ video: true  }).then(function(stream) {
        //video.src = window.URL.createObjectURL(stream);
        video.srcObject = stream;
        video.play();
    });
};
// Elements for taking the snapshot
var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');

// Trigger photo take
document.getElementById("snap").addEventListener("click", function() {
	context.drawImage(video, 0, 0, 320, 240);
    // console.log(canvas.toDataURL());
    $('#formfield').val(canvas.toDataURL());
});
</script>
